.input_item {
  width: 100%;
    input {
      max-width: 100%;
      min-width: 100px;
      margin: 0;
      display: block;
      width: 100%;
      background-color: #ffffff;
      border: none;
      padding-top: 2em;
    }
    position: relative;
    span {
      color: gray;
      display: block;
      position: absolute;
      top: 13px;
      left: 125px;
      font-size: 12px;
      margin-bottom: -60px;
      margin-left: -110px;
    }
  }